/* ******* COMMON CSS STRAT**** */

h1,h2,h3,h4,h5,h6,body,p{
    font-family: 'Spartan', sans-serif;
}
a{
    text-decoration: none;
}
/* ****COMMON CSS END*** */

/* Secvice Section Start */
.pricing-table {
    background: #F6F9FC;
}
.section-title {
    margin: auto;
}
.section-title span {
    color: #0D6EFD;
    font-size: 20px;
    text-transform: uppercase;
}
.section-title h2 {
    position: relative;
}
.section-title h2::after {
    content: '';
    top: 74px;
    left: 230px;
    width: 14%;
    height: 4%;
    position: absolute;
    background: #0D6EFD;
}
.section-title p {
    font-weight: 600;
    color: #A19D9A;
}

.bgcbtn {
    position: relative;
    z-index: 1;
}
.bgcbtn::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #0d6dfd;
    width: 0;
    height: 100%;
    color: rgb(255, 255, 255) !important;
    transition: 0.5s;
    border-radius: 20px;
    z-index: -1;
}
.bgcbtn:hover::after {
    width: 100%;
}
.bgcbtn:hover {
    color: #fff !important;
}

.pricing {
    transition: all 0.5s;
    bottom: none;
}
.pricing:hover {
    background: #0D6EFD;
    color: #fff;
}
.pricing ul li {
    padding: 5px 0px;
}


.buy-now {
    border: none;
    transition: 0.5s;
}
.pricing:hover .buy-now {
    background: #fff;
    color: #0D6EFD;
}
/* Service Section End */

/* Banner Section Start */
.banner {
    background: url(img/free-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    position: relative;
    z-index: 1;
}
.banner::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(13, 109, 253, 0.644);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.banner_text {
    margin: auto;
    padding: 70px 0;
}
.banner_text span {
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Spartan', sans-serif;
    font-weight: 600;
}
.banner_text h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
    position: relative;
}
.banner_text h2::before {
    content: "";
    top: 92px;
    left: 241px;
    width: 10%;
    height: 4%;
    background: rgb(255, 255, 255);
    position: absolute;
}
.banner_text p {
    color: #fff;
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 40px;
}

.buy {
    font-weight: 500;
    color: #0D6EFD;
    font-size: 25px;
    border-radius: 25px;
    border: none;
    padding: 10px 20px;
    position: relative;
    z-index: 1;
}
.buy::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background-color: #0D6EFD;
    color: #fff !important;
    border-radius: 25px;
    z-index: -1;
    transition: 0.5s;
}
.buy:hover::after {
    width: 100%;
    color: #fff !important;
}
.buy:hover {
    color: #fff;
}

/* Banner Section End */

/* Neasletter Section Start */
.text-section {
    background: #0D6EFD;
    color: #fff;
    border-radius: 5px;
}
.text-section h2 {
    font-weight: 600;
}
.text-section p {
    font-weight: 600;
}
.text-section input {
    border: none;
    border-radius: 20px;
    margin-right: 30px;
    padding: 10px 20px;
    outline: none;
}
.text-section button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: #fff;
    background: #0D6EFD;
    border: 1px solid #fff;
}

.text-right {
    border-radius: 5px;
}
.text-right h5 {
    font-size: 25px;
    font-weight: 700;
}

.btn-one {
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    background: #0D6EFD;
    color: #fff;
    margin-top: 50px;
}
/* Neasletter Section End */


